  /*POST*/
  .post__container{
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .post{
      margin-top: 20px;
      display: flex;
      height: 598px;
      width: 933px;
      align-items: center;
      align-self: center;
  }

  .post__image{
    width: 598px;
    height: 598px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

  }

  /*COMMENTS*/

  .comments__container{
    width: 334px;
    height: 600px;
    border: 1px solid rgba(219, 219, 219, 1);
    border-left: none;
    display: flex;
    flex-direction: column;
  }

  .who__posted__container{
    height: 72px;
    border: solid 1px  rgba(239, 239, 239, 1);
  }

  .who__posted{
      display: flex;
      align-self: center;
      margin-left: 18px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin: 20px 16px 20px 18px;
  }

  .who__posted__avatar {
    height: 32px;
    width: 32px;
    background-color: #DBDBDB;
    background-image: url('assets/images/NoPhoto.jpg');

    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 16px;
  }

  .who__posted__info{
      display: flex;
      flex-direction: column;
      max-height: 18px;
      min-height: 18px;
  }

  .user__name{
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      margin: 0;
  }

  .location{
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      margin: 2px 0 0 0;
  }

 

  .comments__list{
    min-height: 453px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
  }      

  .comments__list::-webkit-scrollbar {
    display: none;
}

  .comment{
      display: flex;
      margin: 16px;
  }

  .comment__info{
      display: flex;
      flex-direction: column;
  } 

  .comment__header{
      display: flex;
  }
  .comment__avatar {
    height: 32px;
    width: 32px;
    background-color: #DBDBDB;
    background-image: url('assets/images/NoPhoto.jpg');
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 16px;
  }
  
  .comment__text{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: rgba(38, 38, 38, 1);
      margin: 0;
      width: 224px;
  }

  .comment__footer{
      display: flex;
  }

  .commented__at{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:  rgba(142, 142, 142, 1);
    margin-right: 12px;
  }

  .likes{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(142, 142, 142, 1);
    font-size: 14px;
    font-weight: 700;
  }

  .post__info__container{
    height: 72px;
    border: solid 1px  rgba(239, 239, 239, 1);
    padding-left: 16px;
  }
  
  .heart__icon{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 16px;
    cursor: pointer;
  }  

  .comments__number{
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: 14px;
      color:  rgba(38, 38, 38, 1);      
  }

  .created_at{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
      font-weight: 400;
      color:  rgba(142, 142, 142, 1);      
  }