  .body {
    background-color: #FAFAFA;
    width: 100vw;
    overflow-x: hidden;
  }

  /*DIVISOR*/

  .divisor__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    margin-bottom: 20px;
    align-items: center;
  }

  .divisor{
    height: 1px;
    width: 933px;
    background-color: #EFEFEF;
    margin-top: 48px;
  }

  .divisor__text__container{
    width: 933px;
    display: flex;
    align-content: flex-start;
  } 

  .divisor__text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(142, 142, 142, 1);
    font-weight: 700;
    font-size: 14px;
    margin-top: 16px;
  }
 
  /*RELATED POSTS*/

  .related__container{
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .posts__container{
    width: 933px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 46px;
  }

  .related__post{
    height: 280px;
    width: 280px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /*FOOTER*/

  .footer{
    display: flex;
    justify-content: center;
  } 

  .tagview__logo{
    height: 30px;
    width: 80px;
    margin-top: 48px;
    margin-bottom: 60px;
  }